version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: delivereats_postgres
    environment:
      POSTGRES_DB: delivereats
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - ./scripts:/docker-entrypoint-initdb.d
